<div class="container">
  <h2>Log in</h2>

  <%= form_for @session, url: session_path, html: {class: "form-horizontal"} do |form| %>

    <fieldset>

      <div class="form-group <%= 'has-error' if @session.errors[:email].present? %>">
        <%= form.label :email, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.text_field :email, class: "form-control" %>
          <span class="help-block"><%= @session.errors[:email].first %></span>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if @session.errors[:password].present? %>">
        <%= form.label :password, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.password_field :password, class: "form-control" %>
          <span class="help-block"><%= @session.errors[:password].first %></span>
        </div>
      </div>

    </fieldset>

    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <%= form.submit class: "btn btn-default" %>
        <%= link_to "Cancel", root_path, class: "btn btn-link" %>
      </div>
    </div>

  <% end %>
</div>
