<div class="container">
  <div class="panel">
    <div class="panel-heading">
      Your budgets
      <% if can? :create, Budget %>
        <%= link_to "", new_budget_path, class: "btn btn-success btn-small glyphicon glyphicon-plus" %>
      <% end %>
    </div>

    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th class="text-center">Members</th>
        <th class="text-right">Total Amount</th>
        <th class="text-right"></th>
      </tr>
      <% @budgets.order(created_at: :desc).each do |budget| %>
        <tr>
          <td><%= link_to budget.name, budget_path(budget) %></td>
          <td class="text-center"><%= budget.members.count %></td>
          <td class="text-right <%= amount_class(budget.total) %>"><%= number_to_currency(budget.total, unit: "¤") %></td>
          <td class="text-right">
            <% if can? :manage, Budget %>
              <%= link_to "", edit_budget_path(budget), class: "btn btn-primary btn-small glyphicon glyphicon-pencil" %>
              <%= link_to "", budget_path(budget), class: "btn btn-danger btn-small glyphicon glyphicon-remove", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
