<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <strong><%= @budget.name %></strong> transactions
      <% if can? :manage, @budget %>
        <%= link_to "", new_budget_transaction_path(@budget), class: "btn btn-success btn-small glyphicon glyphicon-plus" %>
      <% end %>
    </div>
    <table class="table table-hover .table-condensed">
      <tr>
        <th>Issued on</th>
        <th>Description</th>
        <th>Payer</th>
        <th>Participants</th>
        <th class="text-right">Amount</th>
        <th class="text-right"></th>
      </tr>
      <% @budget.transactions.order(issued_on: :desc).each do |transaction| %>
        <tr class="<%= amount_class(transaction.amount) %>">
          <td><%= transaction.issued_on.to_s(:db) %></td>
          <td><%= transaction.description %></td>
          <td><%= transaction.payer_name %></td>
          <td><%= transaction_participants(transaction) %></td>
          <td class="text-right"><%= number_to_currency(transaction.amount, unit: @budget.currency) %></td>
          <td class="text-right">
            <% if can? :manage, Budget %>
              <%= link_to "", edit_budget_transaction_path(@budget, transaction), class: "btn btn-primary btn-small glyphicon glyphicon-pencil" %>
              <%= link_to "", budget_transaction_path(@budget, transaction), class: "btn btn-danger btn-small glyphicon glyphicon-remove", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr class="<%= amount_class(@budget.total) %>">
        <th colspan="4" class="text-right"><%= number_to_currency(@budget.total, unit: @budget.currency) %></th>
        <th></th>
      </tr>
    </table>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <strong><%= @budget.name %></strong> members
      <% if can? :manage, @budget %>
        <%= link_to "", new_budget_member_path(@budget), class: "btn btn-success btn-small glyphicon glyphicon-plus" %>
      <% end %>
    </div>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th class="text-right">Total</th>
        <th></th>
      </tr>
      <% @budget.members.order(:name).each do |member| %>
        <% @budget.total_for_member(member).tap do |total| %>
          <tr class="<%= amount_class(total) %>">
            <td><%= member.name %></td>
            <td class="text-right"><%= number_to_currency(total, unit: @budget.currency) %></td>
            <td class="text-right">
              <% if can? :manage, @budget %>
                <%= link_to "", budget_member_path(@budget, member), class: "btn btn-danger btn-small glyphicon glyphicon-remove", method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
