<div class="container">
  <div class="panel">
    <div class="panel-heading"><strong><%= @budget.name %></strong> transactions</div>
    <table class="table table-hover .table-condensed">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Participants</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @budget.transactions.order(created_at: :desc).each do |transaction| %>
        <tr>
          <td><%= transaction.created_at.to_date.to_s(:db) %></td>
          <td><%= transaction.description %></td>
          <td><%= transaction_participants(transaction) %></td>
          <td class="text-right"><%= number_to_currency(transaction.amount, unit: "¤") %></td>
        </tr>
      <% end %>
      <tr>
        <th colspan="4" class="text-right"><%= number_to_currency(@budget.total, unit: "¤") %></th>
      </tr>
      <% if can? :manage, @budget %>
        <tr>
          <td colspan="4"><%= link_to "Add", new_budget_transaction_path(@budget), class: "btn btn-primary btn-small" %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="panel">
    <div class="panel-heading"><strong><%= @budget.name %></strong> members</div>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th class="text-right">Total</th>
      </tr>
      <% @budget.members.order(:name).each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td class="text-right"><%= number_to_currency(@budget.total_for_member(member), unit: "¤") %></td>
        </tr>
      <% end %>
      <% if can? :manage, @budget %>
        <tr>
          <td colspan="2"><%= link_to "Add", new_budget_member_path(@budget), class: "btn btn-primary btn-small" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
