<div class="container">
  <div class="panel">
    <div class="panel-heading"><strong><%= @budget.name %></strong> transactions</div>
    <table class="table table-hover .table-condensed">
      <tr>
        <th>Issued on</th>
        <th>Description</th>
        <th>Participants</th>
        <th class="text-right">Amount</th>
        <th class="text-right"></th>
      </tr>
      <% @budget.transactions.order(issued_on: :desc).each do |transaction| %>
        <tr>
          <td><%= transaction.issued_on.to_s(:db) %></td>
          <td><%= transaction.description %></td>
          <td><%= transaction_participants(transaction) %></td>
          <td class="text-right"><%= number_to_currency(transaction.amount, unit: "¤") %></td>
          <td class="text-right">
            <% if can? :manage, Budget %>
              <%= link_to "Edit", edit_budget_transaction_path(@budget, transaction), class: "btn btn-primary btn-small" %>
              <%= link_to "Delete", budget_transaction_path(@budget, transaction), class: "btn btn-danger btn-small", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th colspan="4" class="text-right"><%= number_to_currency(@budget.total, unit: "¤") %></th>
        <th></th>
      </tr>
      <% if can? :manage, @budget %>
        <tr>
          <td colspan="5"><%= link_to "Add", new_budget_transaction_path(@budget), class: "btn btn-primary btn-small" %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="panel">
    <div class="panel-heading"><strong><%= @budget.name %></strong> members</div>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th class="text-right">Total</th>
      </tr>
      <% @budget.members.order(:name).each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td class="text-right"><%= number_to_currency(@budget.total_for_member(member), unit: "¤") %></td>
        </tr>
      <% end %>
      <% if can? :manage, @budget %>
        <tr>
          <td colspan="2"><%= link_to "Add", new_budget_member_path(@budget), class: "btn btn-primary btn-small" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
