<div class="container">

  <%= form_for @user, url: user_path, html: {class: "form-horizontal"} do |form| %>

    <fieldset>

      <legend>Register</legend>

      <div class="form-group <%= 'has-error' if @user.errors[:name].present? %>">
        <%= form.label :name, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.text_field :name, class: "form-control" %>
          <span class="help-block"><%= @user.errors[:name].first %></span>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if @user.errors[:email].present? %>">
        <%= form.label :email, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.text_field :email, class: "form-control" %>
          <span class="help-block"><%= @user.errors[:email].first %></span>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if @user.errors[:password].present? %>">
        <%= form.label :password, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.password_field :password, class: "form-control" %>
          <span class="help-block"><%= @user.errors[:password].first %></span>
        </div>
      </div>

      <div class="form-group <%= 'has-error' if @user.errors[:password_confirmation].present? %>">
        <%= form.label :password_confirmation, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.password_field :password_confirmation, class: "form-control" %>
          <span class="help-block"><%= @user.errors[:password_confirmation].first %></span>
        </div>
      </div>

    </fieldset>

    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <%= form.submit class: "btn btn-default" %>
      </div>
    </div>

  <% end %>
</div>
