<fieldset>

  <div class="form-group <%= 'has-error' if @transaction.errors[:amount].present? %>">
    <%= form.label :amount, class: "control-label col-lg-2" %>
    <div class="col-lg-10">
      <%= form.number_field :amount, step: "any", class: "form-control" %>
      <span class="help-block"><%= @transaction.errors[:amount].first %></span>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @transaction.errors[:description].present? %>">
    <%= form.label :description, class: "control-label col-lg-2" %>
    <div class="col-lg-10">
      <%= form.text_field :description, class: "form-control" %>
      <span class="help-block"><%= @transaction.errors[:description].first %></span>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @transaction.errors[:issued_on].present? %>">
    <%= form.label :issued_on, class: "control-label col-lg-2" %>
    <div class="col-lg-10">
      <%# Change "value" to symbol on Rails 4.0.1 https://github.com/rails/rails/commit/53eb9fdd9c546b101b22e1711ed0c3dd3df19197 %>
      <%= form.date_field :issued_on, "value" => @transaction.issued_on || Date.current.to_s, class: "form-control" %>
      <span class="help-block"><%= @transaction.errors[:issued_on].first %></span>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @transaction.errors[:payer_id].present? %>">
    <%= form.label :payer_id, class: "control-label col-lg-2" %>
    <div class="col-lg-10">
      <%= form.select :payer_id, options_from_collection_for_select(@transaction.budget.members, "id", "name", @transaction.payer_id), {include_blank: "None"}, class: "form-control" %>
      <span class="help-block"><%= @transaction.errors[:payer_id].first %></span>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @transaction.errors[:participants].present? %>">
    <%= form.label :participants, class: "control-label col-lg-2" %>
    <a id="js-transaction-participants-toggle" class="col-lg-10 col-offset-2" href="#" data-all="All" data-none="None">All</a>
    <div id="js-transaction-participants" class="checkbox">
      <% @budget.members.each do |member| %>
        <label class="col-lg-10 col-offset-2">
          <%= check_box_tag "transaction[participant_ids][]", member.id, @transaction.participant_ids.include?(member.id) %>
          <%= member.name %>
        </label>
      <% end %>
    </div>
    <span class="help-block col-lg-10 col-offset-2"><%= @transaction.errors[:participants].first %></span>
  </div>

</fieldset>
