<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Splitr</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

</head>
<body>

<div class="wrap">

<%= render "layouts/menu" %>
<%= render "layouts/flash" if flash.present? %>

<%= yield %>

<div class="push"></div>

</div>

<div class="footer">
  <div class="container">
    <p class="muted">&copy; 2013 Cowbell Labs</p>
  </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
