<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Splitr</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

</head>
<body>

<div class="wrap">

<div class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Splitr", root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(new_user_path) %>"><%= link_to "Register", new_user_path %></li>
    </ul>
  </div>
</div>

<% if flash.present? %>
  <div class="container">
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert-success">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:error].present? %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert-danger">&times;</button>
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
<% end %>

<%= yield %>

<div class="push"></div>

</div>

<div class="footer">
  <div class="container">
    <p class="muted">&copy; 2013 Cowbell Labs</p>
  </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
