<div class="container">

  <%= form_for [@budget, @member], html: {class: "form-horizontal"} do |form| %>

    <fieldset>

      <legend>Member</legend>

      <div class="form-group <%= 'has-error' if @member.errors[:name].present? %>">
        <%= form.label :name, class: "control-label col-lg-2" %>
        <div class="col-lg-10">
          <%= form.text_field :name, class: "form-control" %>
          <span class="help-block"><%= @member.errors[:name].first %></span>
        </div>
      </div>

    </fieldset>

    <div class="form-group">
      <div class="col-lg-10 col-offset-2">
        <%= form.submit class: "btn btn-default" %>
      </div>
    </div>

  <% end %>
</div>
